# change working dir and path to bash file below
# copy this file to /lib/systemd/system
# sudo systemctl daemon-reload
# sudo systemctl start shome.service
# sudo systemctl enable shome.service

[Unit]
Description=S-HO.ME service
After=network.target

[Service]
Type=simple
ExecStart=bash <to_project_dir>/s-ho.me-ctrl/shomestart.sh
WorkingDirectory=<to_project_dir>/s-ho.me-ctrl
KillMode=process
Restart=on-failure
RestartSec=120
Restart=always

[Install]
WantedBy=multi-user.target
